<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h4>AUI Library Management System</h4>
      <div class="card card-body text-center">
        
        <p>Create an account or login</p>
        <a href="/user/student/register" class="btn btn-primary btn-block mb-2"
          >Register [For Students]</a
        >
        <a href="/user/student/login" class="btn btn-secondary btn-block">Students Login</a>
        <a href="/user/manager/login" class="btn btn-secondary btn-block">Managers Login</a>
      </div>
    </div>
  </div>